<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ShaHar91.Pokedex"
    android:versionCode="5"
    android:versionName="1.5.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IVLibrary.IVLibrary"
            android:label="IV Library"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".IVLibrary.HowIUseIt"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".IVLibrary.AddPoke"
            android:label="Add/Edit"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".IVLibrary.ViewPoke"
            android:label="IV Library"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".IVLibrary.QuickCheck"
            android:label="Quick Check"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".IVLibrary.DeleteMultiPoke"
            android:label="Delete Entries"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".IVLibrary.EggGroups"
            android:label="Egg Groups"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TypeChart.TypeChart"
            android:label="Type Chart"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TypeChart.TypeChartPokedexEntry"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Moves.MoveListExpandable"
            android:label="Moves"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Abilities.AbilitiesListExpandable"
            android:label="Ability"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Items.PocketList"
            android:label="Item Pockets"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Items.ItemList"
            android:label="Items"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TypeChart.TypeChartPokeList"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.Pokedex"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.PokedexEntry"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.PokedexEntryMega"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Abilities.ListAbilities"
            android:label="Abilities"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Abilities.ViewAbility"
            android:label="Abilities"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Moves.ListMoves"
            android:label="Moves"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Moves.ViewMove"
            android:label="Moves"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.ViewPokeMoves"
            android:label="Moves"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.ViewDesc"
            android:label="Descriptions"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.ShaHar91.Pokedex.About"
            android:label="About"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".Calc.ViewCalc"
            android:label="Calculator"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

    </application>

</manifest>
